.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: lightslategray;
  background-color: #000;
  padding: 16px;
}

.header input {
  padding: 0 8px;
  border: none;
  border-radius: 4px;
}

.header-right {
  display: flex;
  justify-content: space-between;
}

.header-right * {
  margin: 0 5px;
}
