.header {
  display: flex;
  justify-content: space-between;
  color: lightslategray;
  background-color: #000;
  padding: 6px;
}

.header input {
    border-radius: 5px;
}

.header-right {
  display: flex;
  justify-content: space-between;
}

.header-right * {
  margin: 0 5px ;
}